.workspace {
  .ws-ul {
    display: flex;
  }
  .ws-li {
    margin-right: 2rem;
  }
  .ws-link {
    color: #5f5f8c;
    font-size: 14px;
    font-weight: 500;
  }
  .ws-li > .active-ws {
    color: #1e1e2f;
  }

  .ws-li > .active-ws::after {
    content: "";
    color: black;
  }

  .wrap {
    margin-bottom: 2rem;
  }
  .header {
    display: flex;
    justify-content: space-between;
    margin: 1.8rem 0;
    padding: 0 2rem;
    .collapse__text {
      color: #585adf;
      font-size: 14px;
      font-weight: 500;
    }
  }
  .side-list {
    border-left: 3px solid #585adf;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      color: #1e1e2f;
      font-weight: 300;
    }
    img {
      height: 14px;
    }
  }
  // workspace-filter
  .filter {
    .header {
      display: flex;
      justify-content: space-between;
      margin: 1.6rem 0;
      padding: 0 1.5rem;
    }
  
    .details {
      padding: 1rem 1.5rem;
      border-radius: 10px;
      .search {
        position: relative;
      }
      .search__icon {
        height: 16px;
        position: absolute;
        right: 15px;
        bottom: 19px;
      }

      input,
      select {
        padding-top: 0.9rem;
        padding-bottom: 0.9rem;
        border-radius: 10px;
      }
      .input-group-text {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        color: #5e5e73;
        background: #ededf2;
        font-size: 16px;
        font-weight: normal;
      }
      .dates {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-column-gap: 1rem;
      }
    }
  }

  // workspace-goals
  .goals {
    .header {
      margin: 1.8rem 0;
      padding: 0 2rem;
    }
    .details {
      padding: 1rem 2rem;
      border-radius: 10px;
      background: #fafafa;

      .chart-wrap{
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: auto;
      }
      .right-column{
        padding: 0;
      }

      .chart-details {
        border: solid 1px #ededf2;
        background-color: #fff;
        border-radius: 10px;
        padding: 1rem 0;
        margin-top: 1rem;

        .top {
          display: flex;
          justify-content: space-between;
          padding: 0 1.5rem;
          .status__title{  
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: normal;
  color: #1e1e2f;
          }
          .metrics{
            color: #5f5f8c;
            font-weight: 300;
            font-size: 14px;
            line-height: 1.46;
            b{
              color: #1e1e2f;
              font-weight: 500;
            }
          }
        }
        .contents{
          margin-top: 1rem;
          border-radius: 13px;
          padding: 1rem 1.5rem;
        }
        .content {
          display: grid;
          grid-template-columns: 1fr 2fr;
          align-items: center;
          border-bottom: 1px dashed #dee2e6;
          padding-bottom: 1rem;
          padding-top: .8rem;
        }
        .status-wrap {
          display: flex;
          align-items: center;
        }
        .status__text{
          font-size: 16px;
          font-weight: 300;
          color: #5f5f8c;
        }
        .status__icon {
          height: 12px;
          width: 12px;
          border-radius: 50px;
          background: #1a9e68;
        }
        .right {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        .count {
          margin: 0;
          font-weight: 700;
          font-size: 31px;
        }
        .count-wrap {
          margin-left: 3.5rem;
        }
        .count__percent {
          font-size: 16px;
          font-weight: 300;
        }
        .count__desc {
          font-size: 10px;
          margin: 0;
          color: #47b881;
          font-weight: 300;
          // &:nth-child(2){
          //   color: #d52a2a;
          // }
        }
        .view {
          text-align: right;
          font-size: 14px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.7;
          letter-spacing: normal;
          text-align: right;
          color: #585adf;
        }
      }
    }
  }
}


@media (max-width: 768px){
  .workspace{
    .goals{
      .details{
        padding: 1rem;
      }
      .chart-details{
        margin-top: 3rem
      }
    }
  }
}