:root{
    --font-size-14: 14px;
}
*{
    padding: 0;
    margin: 0;

}

body {
    font-family: 'MyWebFont', sans-serif;
  }

@font-face {
    font-family: 'MyWebFont';
    src:  url('./components/assets/fonts/GraphikBlack.otf') format('otf'),
    url('./components/assets/fonts/GraphikBold.otf') format('otf'),
    url('./components/assets/fonts/GraphikExtralight.otf') format('otf'),
    url('./components/assets/fonts/GraphikLight.otf') format('otf'),
    url('./components/assets/fonts/GraphikMedium.otf') format('otf'),
    url('./components/assets/fonts/GraphikRegular.otf') format('otf'),
    url('./components/assets/fonts/GraphikSemibold.otf') format('otf'),

  }

.container{
    padding: 0 5rem;
}

.rounded{
    border-radius: 10px !important;
}

/* ###React-datePicker start */
.input-group{
    flex-wrap: nowrap;
}
.input__datepicker{
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important
}

.react-datepicker__year-select, .react-datepicker__month-select{
    padding: 0 !important;
}
.react-datepicker__month-select{
    font-size: 15px !important;

}

.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
    font-size: 16px;
}

/* ###React-datePicker end */


@media (max-width: 1200px){
    .container{
        padding: 0 2rem;
    }
    .items .users {
        grid-template-columns:repeat(2, 1fr);
    }
    .workspace .filter .details .dates {
        grid-template-columns: 1fr;
        grid-row-gap: 1rem;
    }
    .react-datepicker-wrapper{
        width: 100%;
    }
}


@media (max-width: 768px){
    .container{
        padding: 0 1rem;
    }
  
    
    .items .users {
        grid-template-columns: 1fr;
    }
}